<!-- {% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Design Studio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/fixed.css">
</head>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="javascript/animations.js"></script>

<body data-spy="scroll" data-target="#navbarResponsive">
    <div id="home">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top">
            <a class="navbar-brand" href="/"><img src=""> Otito</a>
            <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false"
                aria-label="Toggle navigation"><span class="dark-blue-text"><i
                        class="fas fa-bars fa-1x"></i></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#mission">Shop</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#solution">Cart</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#contact">Login</a>
                    </li>
                </ul>
            </div>
        </nav>

        {% block content %}
        {% endblock content %}

        {% block extra_body %}
        {% endblock %}

        {% include "footer.html" %}
        {% include "scripts.html" %}

        {% block extra_scripts %}
        {% endblock extra_scripts %}
</body>

</html> -->