{% extends "base.html" %}
{% block content %}
<div class="banner-title">
    <h1>Otito<span> Berlin</span> </h1>
    <button type="button" class="btn">Explore</button>
</div>
<div class="vertical-bar">
    <div class="search-icon">
        <i class="fa fa-th-list"></i>
        <i class="fa fa-search"></i>
    </div>
    <div class="social-icons">
        <i class="fab fa-facebook-f mr-3"></i>
        <i class="fab fa-google-plus-g mr-3"></i>
        <i class="fab fa-twitter mr-3"></i>
        <i class="fab fa-instagram mr-3"></i>
    </div>
</div>
<div class="notifications">
    <div class="contents">
        <p>Follow our instagram account for more updates!</p>
    </div>
    <div class="notification-img">
        <img src="">
    </div>
</div>

{% endblock content %}

{% load cart_template_tags %}